<div class="wrapper fadeInDown">
  <h2>Register</h2>
  <div id="formContent">
    <form>
      <input type="text" id="login" class="fadeIn second" [(ngModel)]="user.email" name="login" placeholder="email">
      <p *ngIf="error">
        <span class="text-danger">{{error}}</span>
      </p>
      <input type="text" id="firstName" class="fadeIn second" [(ngModel)]="user.firstName" name="login" placeholder="Първо име">
      <input type="text" id="lastName" class="fadeIn second" [(ngModel)]="user.lastName" name="login" placeholder="last name">
      <input type="text" id="password" class="fadeIn third" [(ngModel)]="user.password" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" (click)="register()" value="Register">
    </form>
    <div id="formFooter">
      <a class="underlineHover" routerLink="/login">Вход</a>
    </div>
  </div>
</div>
